include README.rst
include Makefile
include *.spec
include *.txt
include LICENSE
include VERSION
include .pylintrc
recursive-include docs *.rst
recursive-include test *.py
recursive-include test *.yaml
recursive-include test *.swix
exclude Jenkinsfile
exclude pre-commit.sh
exclude report
exclude htmlcov
